:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* class name taken from node_modules/reactflow/dist/style.css to change node color on selection */
.react-flow__node.selected {
  border: solid 2px rgb(0, 30, 255);
  border-radius: 7px;
}

.appflow {
  width: 100vw;
  height: 100vh !important;
}

.appflow .flow-body {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;

}

.appflow .reactflow-wrapper {
  width: 100%;
}

.appflow-logo {
  margin-left: 3%;
  font-family: cursive;
  cursor: pointer;
  color: #0a0a53;
}

.red-message {
  color: black;
  background: lightcoral;
  font-size: 12px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.green-message {
  color: black;
  background: lightgreen;
  font-size: 12px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.appflow .rightbar {
  height: 100%;
  width: 100%;
}

/* topbar bar housing save changes button  */
.topbar {
  background-color: #dedede;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 10%;
  border-top: 2px solid rgb(172, 172, 172);
}



.topbar .save-changes {
  margin-right: 5%;

}

.topbar .save-changes button {
  height: 40px;
  width: 150px;
  font-size: 16px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #5c64fa;
  font-weight: 600;
  cursor: pointer;
}

.appflow .selectall {
  margin-top: 10px;
}
@media screen and (min-width: 992px) {
  .appflow aside {
    font-size: 12px;
    color-scheme: light dark;
    display: flex;
    border-left: 1px solid rgb(194, 194, 194);
    border-top: 1px solid rgb(194, 194, 194);
    border-radius: 1px;
    width: 30vw;
  }

}
@media screen and (max-width: 992px) {
  .appflow .flow-body {
    display: flex;
    flex-direction: column;
  }

  .appflow .reactflow-wrapper {
    height: 100%;
    width: 100%;
  }

  .appflow aside {
    position: absolute;
    top: 2%;
    right: 5%;
  }
}
.delete-edge{
  position: absolute;
  right: 25%;
  bottom: 1%;
}